/*#Código realizado por Bombiglias
#Fecha 22/11/2017*/

/*Este fichero contiene el css empleado para la página.*/

html,
body {
	background-color: #F4DECB;
}

.link {
    color:white;
}
.inner {
    /*position: absolute;*/
}

.inner-container{
    width:400px;
    height:400px;
    position:absolute;
    top:calc(50vh - 200px);
    left:calc(50vw - 200px);
    overflow:hidden;
}

.box{
    position:absolute;
    height:100%;
    width:100%;
    color:#fff;
    background:#49274A;
    padding:30px 0px;
    font-family: Verdana, sans-serif;
}
.box h1{
    text-align:center;
    margin:30px 0;
    font-size:30px;
}
.box input{
    display:block;
    width:300px;
    margin:20px auto;
    padding:15px;
    background:rgba(0,0,0,0.2);
    color:#fff;
    border:0;
}
.box input:focus,.box input:active,.box button:focus,.box button:active{
    outline:none;
}
.box input[type=submit]{
    background:#eee;
    border:0;
    color:black;
    padding:10px;
    font-size:20px;
    width:330px;
    margin:20px auto;
    display:block;
    cursor:pointer;
}
.box input[type=submit]:active{
    background:#27ae60;
}
.box p{
    font-size:14px;
    text-align:center;
}
.box p span{
    cursor:pointer;
    color:#666;
}

img.perfil{
    width: 350px;
    height: 250px;
    vertical-align: middle;
    border: 1px solid black;
}
/*1 Opciones de personalizacion para la cabecera*/
div.top {
    background-color: #49274A;
    width: 100%;
    height: 41px;
    display: inline-block;
}

/*1.1 Contenedor del alias, icono de idioma y logout*/
div.topbot {
    position: absolute;
    top: 0;
    right: 0;
}
div.topbot div {
    display: inline-block;
    vertical-align: middle;
}
/*1.2 Color del alias*/
b.alias {
    color: white;
}

/*1.3 Apariencia del nombre de la aplicacion*/
b.nombreapp {
    color: white;
    font-size: 30px;
    text-align: center;
    margin-left: 13px;
    margin-top: -6px;
    display: inline-block;
}

/*1.4 Css asociado a la aparición de la lista de paises que se muestra al pulsar la bandera*/
#countries {
    list-style-type: none;
    position: absolute;
    top: 15px;
    visibility: hidden;
    padding: 2px;
}
#countries > li {
    background-color: white;
    text-align: center;
}

button img, li img {
    margin-bottom: 0;
}

/*2 Centrar iconos de search y add*/
div.cenbot {
    text-align: center;
}
div.cenbot div {
    
    display: inline-block;
}

/*3 Margenes para el articulo de muestra */
article.art {
    margin-top: 25px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

/*4 Css para la imagen */
div.imagen {
    display: inline-block;
    text-align: center;
    margin: auto;
    width: 100%;
    padding: 10px;
    margin-bottom: 50px;
}

/*5 Css del footer */

.footer {
    background-color: #49274A;
	bottom: 0px;
    width: 100%;
    left: 0px;
    right: 0px;
    text-align: center;
    color: white;
    font-family: Verdana, sans-serif;

}


label {
    float: left;
    text-align: left;
}

/*6 Codigo para la tabla showall. Bordes, margenes y apariencia*/

table.showtable {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
}
th,
td {
    text-align: left;
    padding: 8px;
}
th.bor {
    border: 1px solid black;
    background-color: #94618E;
}
td.bor {
    border: 1px solid black;
}
td.boro {
    border: 1px solid black;
    padding: 0;
    text-align: center;
}
tr:nth-child(even) {
    background-color: #f2f2f2
}

/*7 Clase para los botones de add y search. Todos los iconos tienen una estructura similar*/

div.icon-button {
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
    margin: 5px 10px;
    box-shadow: 4px 4px 4px #e3e3e3;
}

div.icon-button:hover {
    box-shadow: 3px 3px 3px #e3e3e3;
    -webkit-transition-property: box-shadow;
    -webkit-transition-duration: .3s;
    transition-property: box-shadow;
    transition-duration: .3s;
}

a.icon-container {
    text-decoration: none;
    display: -webkit-flex -webkit-align-items: center;
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #94618E;
}
.icon-container i {
    margin: 0 auto;
    font-size: 30px;
    color: #fff;
}

i.move-left {
    padding-right: 5px;
}
i.move-up {
    padding-bottom: 5px;
}
i.move-down {
    padding-top: 5px;
}
i.move-right {
    padding-left: 5px;
}

/*7.1 Clase para los iconos de accion de las tablas.*/

div.tableicon-button {
    display: inline-block;
    overflow: hidden;
    margin: 3px 3px;
}

div.tableicon-button:hover {
    box-shadow: 3px 3px 3px #e3e3e3;
    -webkit-transition-property: box-shadow;
    -webkit-transition-duration: .3s;
    transition-property: box-shadow;
    transition-duration: .3s;
}
a.tableicon-container {
    text-decoration: none;
    display: -webkit-flex -webkit-align-items: center;
    display: flex;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: #white;
    border: 2px solid #000;
}
.tableicon-container i {
    margin: 0 auto;
    font-size: 25px;
    color: #000;
}

i.move-left {
    padding-right: 5px;
}
i.move-up {
    padding-bottom: 5px;
}
i.move-down {
    padding-top: 5px;
}
i.move-right {
    padding-left: 5px;
}

/*7.1 Clase para los iconos redondos de la cabecera*/

div.tableicon-user-button {
    display: inline-block;
    overflow: hidden;
    margin: 3px 3px;
}

div.tableicon-button:hover {
    box-shadow: 3px 3px 3px #e3e3e3;
    -webkit-transition-property: box-shadow;
    -webkit-transition-duration: .3s;
    transition-property: box-shadow;
    transition-duration: .3s;
}
a.tableicon-container {
    text-decoration: none;
    display: -webkit-flex -webkit-align-items: center;
    display: flex;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: white;
    border: 2px solid #000;
}
.tableicon-container i {
    margin: 0 auto;
    font-size: 25px;
    color: #000;
}

i.move-left {
    padding-right: 5px;
}
i.move-up {
    padding-bottom: 5px;
}
i.move-down {
    padding-top: 5px;
}
i.move-right {
    padding-left: 5px;
}
a.tableicon-container-round {
    text-decoration: none;
    display: -webkit-flex -webkit-align-items: center;
    display: flex;
    align-items: center;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-color: white;
    border: 2px solid #000;
}
.tableicon-container-round i {
    margin: 0 auto;
    /font-size: 25px;
    color: #000;
}

/*8 Codigo asociado a los formularios de busqueda, añadir y modificar*/

.wrapper {
    width: 450px;
    margin: 0 auto;
    font-family: Verdana, sans-serif;
}

legend {
    color: #0481b1;
    font-size: 24px;
    background: #fff;
    -moz-border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0, 129, 177, 0.5);
    padding: 5px 10px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}
/*8 Borde del formulario*/
fieldset {
    border-radius: 4px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #f9fdff);
    background: -o-linear-gradient(#fff, #f9fdff);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f9fdff));
    background: -webkit-linear-gradient(#fff, #f9fdff);
    padding: 20px;
    border-color: rgba(4, 129, 177, 0.4);
}
input,
textarea {
    background: #fff;
    color: #aaa;
    border: 1px solid #CCCCCC;
    font-size: 14px;
    line-height: 1.2em;
    margin-bottom: 15px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
}
input[type="text"],
input[type="password"] {
    height: 22px;
    width: 280px;
}
/* 8.2 Codigo asociado a que el ancho del campo se adapte al maxlength cuando ese campo es el activo de los distintos campos*/

input[name="loginuser"]:focus {
    background: #f5fcfe;
    text-indent: 0;
    z-index: 1;
    color: #000;
    -webkit-transition-duration: 400ms;
    -webkit-transition-property: width, background;
    -webkit-transition-timing-function: ease;
    -moz-transition-duration: 400ms;
    -moz-transition-property: width, background;
    -moz-transition-timing-function: ease;
    -o-transition-duration: 400ms;
    -o-transition-property: width, background;
    -o-transition-timing-function: ease;
    width: 15ch;
    border-color: #ccc;
    box-shadow: 0 0 5px rgba(4, 129, 177, 0.5);
    opacity: 0.6;
}

input[name="nombreuser"]:focus {
    background: #f5fcfe;
    text-indent: 0;
    z-index: 1;
    color: #000;
    -webkit-transition-duration: 400ms;
    -webkit-transition-property: width, background;
    -webkit-transition-timing-function: ease;
    -moz-transition-duration: 400ms;
    -moz-transition-property: width, background;
    -moz-transition-timing-function: ease;
    -o-transition-duration: 400ms;
    -o-transition-property: width, background;
    -o-transition-timing-function: ease;
    width: 30ch;
    border-color: #ccc;
    box-shadow: 0 0 5px rgba(4, 129, 177, 0.5);
    opacity: 0.6;
}
input[name="apellidouser"]:focus {
    background: #f5fcfe;
    text-indent: 0;
    z-index: 1;
    color: #000;
    -webkit-transition-duration: 400ms;
    -webkit-transition-property: width, background;
    -webkit-transition-timing-function: ease;
    -moz-transition-duration: 400ms;
    -moz-transition-property: width, background;
    -moz-transition-timing-function: ease;
    -o-transition-duration: 400ms;
    -o-transition-property: width, background;
    -o-transition-timing-function: ease;
    width: 50ch;
    border-color: #ccc;
    box-shadow: 0 0 5px rgba(4, 129, 177, 0.5);
    opacity: 0.6;
}
input[name="titulacionuser"]:focus {
    background: #f5fcfe;
    text-indent: 0;
    z-index: 1;
    color: #000;
    -webkit-transition-duration: 400ms;
    -webkit-transition-property: width, background;
    -webkit-transition-timing-function: ease;
    -moz-transition-duration: 400ms;
    -moz-transition-property: width, background;
    -moz-transition-timing-function: ease;
    -o-transition-duration: 400ms;
    -o-transition-property: width, background;
    -o-transition-timing-function: ease;
    width: 60ch;
    border-color: #ccc;
    box-shadow: 0 0 5px rgba(4, 129, 177, 0.5);
    opacity: 0.6;
}

input[name="telefonouser"]:focus {
    background: #f5fcfe;
    text-indent: 0;
    z-index: 1;
    color: #000;
    -webkit-transition-duration: 400ms;
    -webkit-transition-property: width, background;
    -webkit-transition-timing-function: ease;
    -moz-transition-duration: 400ms;
    -moz-transition-property: width, background;
    -moz-transition-timing-function: ease;
    -o-transition-duration: 400ms;
    -o-transition-property: width, background;
    -o-transition-timing-function: ease;
    width: 11ch;
    border-color: #ccc;
    box-shadow: 0 0 5px rgba(4, 129, 177, 0.5);
    opacity: 0.6;
}

input[name="dniuser"]:focus {
    background: #f5fcfe;
    text-indent: 0;
    z-index: 1;
    color: #000;
    -webkit-transition-duration: 400ms;
    -webkit-transition-property: width, background;
    -webkit-transition-timing-function: ease;
    -moz-transition-duration: 400ms;
    -moz-transition-property: width, background;
    -moz-transition-timing-function: ease;
    -o-transition-duration: 400ms;
    -o-transition-property: width, background;
    -o-transition-timing-function: ease;
    width: 9ch;
    border-color: #ccc;
    box-shadow: 0 0 5px rgba(4, 129, 177, 0.5);
    opacity: 0.6;
}
input[name="emailuser"]:focus {
    background: #f5fcfe;
    text-indent: 0;
    z-index: 1;
    color: #000;
    -webkit-transition-duration: 400ms;
    -webkit-transition-property: width, background;
    -webkit-transition-timing-function: ease;
    -moz-transition-duration: 400ms;
    -moz-transition-property: width, background;
    -moz-transition-timing-function: ease;
    -o-transition-duration: 400ms;
    -o-transition-property: width, background;
    -o-transition-timing-function: ease;
    width: 50ch;
    border-color: #ccc;
    box-shadow: 0 0 5px rgba(4, 129, 177, 0.5);
    opacity: 0.6;
}

input[type="password"]:focus {
    background: #f5fcfe;
    text-indent: 0;
    z-index: 1;
    color: #000;
    -webkit-transition-duration: 400ms;
    -webkit-transition-property: width, background;
    -webkit-transition-timing-function: ease;
    -moz-transition-duration: 400ms;
    -moz-transition-property: width, background;
    -moz-transition-timing-function: ease;
    -o-transition-duration: 400ms;
    -o-transition-property: width, background;
    -o-transition-timing-function: ease;
    width: 26ch;
    border-color: #ccc;
    box-shadow: 0 0 5px rgba(4, 129, 177, 0.5);
    opacity: 0.6;
}
textarea {
    padding: 3px;
    width: 96%;
    height: 100px;
}
textarea:focus {
    background: #ebf8fd;
    text-indent: 0;
    z-index: 1;
    color: #000;
    opacity: 0.6;
    box-shadow: 0 0 5px rgba(4, 129, 177, 0.5);
    border-color: #ccc;
}
.small {
    line-height: 14px;
    font-size: 12px;
    color: #999898;
    margin-bottom: 3px;
}

/* 8.2 Codigo de los botones de los formularios*/

input[type="submit"],
input[type="reset"] {
    background: #222;
    border: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    color: #eee;
    cursor: pointer;
    font-size: 15px;
    margin: 5px 0;
    padding: 5px 22px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

/*9 Codigo asociado a los formularios de mostrar y borrar*/
.shown {
    width: 450px;
    margin: 0 auto;
    font-family: Verdana, sans-serif;

}
legend {
    color: #0481b1;
    font-size: 24px;
    background: #fff;
    -moz-border-radius: 4px;
    box-shadow: 0 1px 5px rgba(4, 129, 177, 0.5);
    padding: 5px 10px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}
fieldset {
    border-radius: 4px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #f9fdff);
    background: -o-linear-gradient(#fff, #f9fdff);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f9fdff));
    / background: -webkit-linear-gradient(#fff, #f9fdff);
    padding: 20px;
    border-color: rgba(4, 129, 177, 0.4);
}
.small {
    line-height: 14px;
    font-size: 12px;
    color: #999898;
    margin-bottom: 3px;
}
input[type="submit"],
input[type="reset"] {
    background: #222;
    border: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    color: #eee;
    cursor: pointer;
    font-size: 15px;
    margin: 5px 0;
    padding: 5px 22px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

/*9 Barra lateral */

.main {
    border-left: 163px solid #94618E;
    padding-left: 10px;
    padding-top: 5px;
    min-height: calc(100vh - 63px);
}
/*
#left-sidebar {
    text-align: center;
    width: 162px;
    background-color: #D3D3D3;
    height: 100%;
    border: black 1px;
    border-style: solid;
    float:left;
}
#left-sidebar ul {
    list-style-type: none;
}
#left-sidebar ul li.nivel1 {
    width: 162px;
}
#left-sidebar ul li.primera {
    border-top: solid 1px #FFF;
}
#left-sidebar ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    background-color: #399;
    border: solid 1px #fff;
    border-top: none;
    padding: 8px;
    position: relative;
}
#left-sidebar ul li:hover {
    position: relative;
    background-color: #6CC;
    color: #000;
}
#left-sidebar ul li a:hover,
#left-sidebar ul li:hover a.nivel1 {
    background-color: #6CC;
    color: #000;
    position: relative;
}
#left-sidebar ul li a.nivel1 {
    display: block!important;
    display: none;
    position: relative;
}
#left-sidebar ul li ul {
    display: none;
}
#left-sidebar ul li a:hover ul,
#left-sidebar ul li:hover ul {
    display: block;
    position: absolute;
    left: 161px;
    top: -1px!important;
    top: -31px;
}
#left-sidebar ul li ul li a {
    width: 160px;
    background-color: #6CC;
    color: #000;
}
#left-sidebar ul li ul li a:hover {
    position: relative;
    background-color: #399;
    color: #FFF;
}
*/
.menuSidebar{
    width: 100%;
    margin: 0% -5% 0% -7%;
    padding: 5px 0px 0px 0px;
}
/*
#left-sidebar {
    text-align: center;
    width: 162px;
    height: 100%;
    position: fixed;
}
#left-sidebar>ul {

}
#left-sidebar li>ul {
    display: none;
}

#left-sidebar {
    counter-reset: li;
    list-style: none;
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

#left-sidebar ol {
    margin: 0 0 0 2em;
}


#left-sidebar li{
    position: relative;
    display: block;
    padding: 4px 4px 4px 4px;
    margin: .5em 0;
    background: #ddd;
    color: black;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;
}

#left-sidebar li:hover{
    background: #eee;
}

#left-sidebar li:hover:before{
    transform: rotate(360deg);
}

#left-sidebar li:before{
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #94618E;
    height: 1.25em;
    width: 1.25em;
    line-height: 1.5em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}

#left-sidebar li li:before{
  left: -30px;
}
*/
.vertical-nav {
    height:auto;
    list-style:none;
    width: 162px; /******* MODIFIED ********/
    margin-left:-40px;
    margin-top: 0px;
    position: fixed;
    border-top: 1px solid #49274A;
}
.vertical-nav li {
    height: 39px;
    margin: 0;
    color:#ffffff;
    padding: 3px 0;
    background-color: #94618E;
    border: none;
    text-align: center;
    display: inline-block;
    float: left;
    clear:both;
    width: 162px;  /******* MODIFIED ********/
    font-family:Calibri, Arial;
    font-size:15px;
    font-weight:bold;
    border-bottom: 1px solid #49274A;
    vertical-align: middle;
    line-height: 40px;
}
.vertical-nav li:hover {
    background-color:#6C3666;
    color:#FFFFFF;
}
.vertical-nav li a {
    font-family:Calibri, Arial;
    font-size:15px;
    font-weight:bold;
    color:#ffffff;
    text-decoration:none;
}
.vertical-nav li.current {
    background-color:#F36F25;
}
.vertical-nav li.current a {
    color:#FFFFFF;
}
vertical-nav ul li ul {
    display:none;
    list-style-type:none;
    width:125px;
    padding:0px;
    margin-top:3px;
    margin-left:-5px;
}
vertical-nav ul li:hover ul {
    display:block;
}
vertical-nav ul li:hover ul li {
    background-color:#555555;
    width:125px;
    height:30px;
    display:inline-block;
}
vertical-nav ul li ul li:hover {
    background-color:#333333;
}
vertical-nav ul li ul li a {
    color:#FFF;
    text-decoration:underline;
}
vertical-nav ul li ul li a:hover {
    text-decoration:none;
}
.vertical-nav li ul {
    display: none;
    margin-top: 10px;
    padding: 0;
}
.vertical-nav li:hover ul {
    display: block;
}
.vertical-nav li:hover .sub-menu
{
    position: relative;
    margin-top: -27.5px;
}
.sub-menu li
{
    position: relative;
    display: block;
    top: -16px;
    left: 100%;
    width: 100%;
    min-width: 180px;
    white-space: nowrap;
    z-index:1;
}
.sub-menu li a
{
    display:inline-block;
    padding: 0 10px;
}
/*10 "Funcion" para que al redimensionar el login no se superponga con el nombre de la app*/  
@media screen and (max-width: 340px) {
    b.nombreapp {
        font-size: 20px;
        display: inline-block;
        padding-top: 5px;
    }
}
